
.carousel {
    height: 400px;
}

.carousel .item {
    height: 100%;
}

.carousel > input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    top: 0;
    left: 0;
}

.carousel > input[type=checkbox]:checked {
    position: fixed;
}

.carousel > input[type=checkbox]:checked + .carousel-inner {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    width: initial;
    height: initial;
}

.carousel > input[type=checkbox]:checked + .carousel-inner .img-div {
    background-position-x: center;
}

.carousel .carousel-inner {
    background-color: #FFFFFF;
    height: 100%
}

.carousel .carousel-div {
    height: 100%;
    width: 100%;
}

.carousel-indicators {
    bottom: -40px;
    z-index: 5;
}

.carousel-indicators li {
    border-color: #000000;
}

.carousel-indicators li.active {
    background-color: #000000;
}

.carousel-info {
    position: absolute;
    bottom: 0;
    background-color: rgba(51,51,51,0.6);
    width: 100%;
    padding: 10px;
    transition: background-color 0.5s ease;
    z-index: 20;
}

.carousel-info p, .carousel-info a {
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
}

.carousel-title {
    font-size: 20px;
}

.carousel-description {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.carousel:hover .carousel-info {
    background-color: rgba(51, 51, 51, 0.9);
}

.carousel:hover .carousel-title {
    cursor: pointer;
}

.carousel:hover .carousel-description {
    max-height: 200px;
}

.carousel-button  {
    position: absolute;
    top: 40%;
    color: rgba(256, 256, 256, 0.7);
    font-size: 40px;
    display: none;
    z-index: 20;
}

.carousel:hover .carousel-button {
    display: block;
}

.carousel-button:hover,
.carousel-button:active {
    color: #999;
}

.carousel-left {
    left: 10px;
}

.carousel-right {
    right: 10px;
}