body {
    overflow-y: auto;
    overflow-x: hidden;
}

.no-padding {
    padding: 0!important;
}

#navbar {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
}

#page-content-wrapper {
    top: 40px;
    padding-top: 5px;
}

#page-content-wrapper section {
    margin-bottom: 50px;
    padding-top: 25px;
}

a.menu-toggle-container span {
    font-size: 30px;
    padding: 5px 5px 5px 10px;
    color: #333;
}

ul.sidebar-nav {
    padding-top: 100px;
}

ul.sidebar-nav li {
    line-height: 60px;
}

.square {
    display: inline-block;
    position: relative;
    padding: 0;
}

.square:after {
    padding-top: 100%;
    display: block;
    content: '';
}

.fp-box-container:nth-child(n+3) {
    margin-top: -25px;
}

.fp-box {
    position: absolute;
    top: 25px;
    bottom: 25px;
    right: 25px;
    left: 25px;
    background-color: palevioletred;
}

.fp-box-title {
    font-size: 50px;
    margin-top: 80px;
    opacity: 0.5;
    transition: font-size 0.3s ease, margin-top 0.3s ease;
    transition-delay: 0.3s;
}

.fp-box:hover .fp-box-title {
    margin-top: 50px;
    font-size: 40px;
    transition-delay: 0.0s;
}

.fp-box-content {
    visibility: hidden;
    margin-top: 30px;
    padding: 10px;
    transition: visibility;
    transition-delay: 0.3s;
}

.fp-box:hover .fp-box-content,
.fp-box .fp-box-content:hover {
    visibility: visible;
    transition-delay: 0.0s;
}

.img-div {
    width: 100%;
    height: 100%;
    background: no-repeat 0 0;
    background-size: auto 100%;
}

#wheretofindmefrom .contacts {
    margin-top: 50px;
    margin-bottom: 90px;
}

#wheretofindmefrom .contacts div.square a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-decoration: none;
    cursor: pointer;
    font-size: 150px;
    transition: font-size 0.5s, color 0.5s;
    color: #999;
}

#wheretofindmefrom .contacts div.square a:hover {
    color: palevioletred;
    font-size: 200px;
}

@media(min-width:768px) {
    #page-content-wrapper section {
        min-height: 100vh;
    }
    #wrapper.toggled {
        padding-left: 125px;
        padding-right: 125px;
    }
}
