.no-padding {
    padding: 0!important;
}

#navbar {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
}

#page-content-wrapper {
    top: 40px;
}

a.menu-toggle-container span {
    font-size: 30px;
    padding: 5px;
    padding-left: 10px;
    color: #333;
}

ul.sidebar-nav {
    padding-top: 100px;
}

ul.sidebar-nav li {
    line-height: 60px;
}

.fp-box-container {
    display: inline-block;
    position: relative;
}

.fp-box-container:after {
    padding-top: 100%;
    display: block;
    content: '';
}

.fp-box {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    left: 15px;
    background-color: aliceblue;
}

