
@import '../../variables.pcss';

.fpBoxRow {
  margin-left: -30px;
  margin-right: -30px;
}

.descriptionBox {
  padding-top: 20px;

  .descriptionContainer {
    padding-top: 20px;
  }
  p {
    margin: 0;
  }
}

.fpBoxContainer {
  padding: 25px;
}

@media (--md-up) {
  .description p {
    float: right;
    text-align: right;
    width: 58%;
  }
}

@media (--xs) {
  .fpBoxRow {
    padding-left: 5px;
    padding-right: 5px;
    .fpBoxContainer {
      padding: 10px;
    }
  }
}