
.streamrLogo {
  height: 1em;
  margin-bottom: 6px;
  margin-left: 2px;
}

.masonry {
  width: 100%;
  position: relative;

  > div {
    padding: 10px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}