#who .fp-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 25px;
  overflow: hidden;
}
#who .fp-box:not(.img-container) {
  background-color: #DB7093;
}
#who .fp-box:hover .img-div {
  transform: scale(1.33);
  filter: blur(10px) grayscale(100%);
  -webkit-filter: blur(2px) grayscale(100%);
  transition: filter, -webkit-filter, transform 3s ease;
}
#who .fp-box .fp-box-title {
  font-size: 60px;
  margin-top: 30%;
  transition: font-size 0.3s cubic-bezier(0, 0, 0.38, 1), margin-top 0.3s ease-out;
}
#who .fp-box .fp-box-content {
  visibility: hidden;
  margin-top: 30px;
  padding: 10px;
  transition: visibility;
  transition-delay: 0.2s;
  position: relative;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}
#who .fp-box .fp-box-content:hover {
  visibility: visible;
  transition-delay: 0.0s;
}
#who .fp-box .img-div {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 544px) {
  #who .fp-box:hover .fp-box-title {
    margin-top: 20%;
    font-size: 40px;
    transition: font-size 0.3s ease;
  }
  #who .fp-box:hover .fp-box-content {
    visibility: visible;
    transition-delay: 0.0s;
  }
}
@media (max-width: 544px) {
  #who .fp-box {
    margin: 10px;
  }
  #who .fp-box .fp-box-title {
    font-size: 40px;
  }
}
