body {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.no-padding {
  padding: 0!important;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 0;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#wrapper.toggled #menu-toggle {
  left: 170px;
}
#page-content-wrapper section {
  margin-bottom: 70px;
  padding-top: 50px;
}
.square {
  display: inline-block;
  position: relative;
  padding: 0;
}
.square:after {
  padding-top: 100%;
  display: block;
  content: '';
}
.fp-box {
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  overflow: hidden;
}
.fp-box:not(.img-container) {
  background-color: #DB7093;
}
.fp-box:hover .fp-box-title {
  margin-top: 20%;
  font-size: 40px;
  transition: font-size 0.3s ease;
}
.fp-box:hover .img-div {
  transform: scale(1.33);
  filter: blur(10px) grayscale(100%);
  -webkit-filter: blur(2px) grayscale(100%);
  transition: filter, -webkit-filter, transform 3s ease;
}
.fp-box:hover .fp-box-content {
  visibility: visible;
  transition-delay: 0.0s;
}
.fp-box .fp-box-title {
  font-size: 60px;
  margin-top: 30%;
  transition: font-size 0.3s cubic-bezier(0, 0, 0.38, 1), margin-top 0.3s ease-out;
  /*transition-delay: 0.3s;*/
  filter: none;
  position: relative;
}
.fp-box .fp-box-content {
  visibility: hidden;
  margin-top: 30px;
  padding: 10px;
  transition: visibility;
  transition-delay: 0.2s;
  position: relative;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}
.fp-box .fp-box-content:hover {
  visibility: visible;
  transition-delay: 0.0s;
}
.fp-box .img-div {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
}
.img-div {
  width: 100%;
  height: 100%;
  background: no-repeat 0 0;
  background-size: auto 100%;
  transition: filter, -webkit-filter, transform 1s ease;
}
#wheretofindmefrom .contacts {
  margin-top: 50px;
  margin-bottom: 90px;
}
#wheretofindmefrom .contacts div.square a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-decoration: none;
  cursor: pointer;
  font-size: 150px;
  transition: font-size 0.5s, color 0.5s;
  color: #999;
}
#wheretofindmefrom .contacts div.square a:hover {
  color: palevioletred;
  font-size: 200px;
}
@media (min-width: 768px) {
  #page-content-wrapper #menu-toggle {
    position: fixed;
    left: 180px;
    transition: left 0.25s ease;
    transition-delay: 0.25s;
  }
  #page-content-wrapper #menu-toggle span {
    transition: all 0.25s ease;
  }
}
