#where {
  height: 90vh;
 .contacts {
   margin-top: 50px;
   margin-bottom: 90px;

   div.square a {
     position: absolute;
     text-decoration: none;
     cursor: pointer;
     font-size: 150px;
     transition: font-size 0.5s, color 0.5s;
     color: #999;
     width: 100%;
     text-align: center;

     &:hover {
       color: palevioletred;
       font-size: 200px;
     }
   }
 }
}