html {
	height: 300%;
	margin-top: -100%;
	scrollbar-width: none;
}

body, #sapper {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #FFFFFF;
	background-color: #333333;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 24px;
}

a {
	color: inherit;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}