
:root {
    --fontSize: 1rem;
    --highlightColor: #E01641;
    --background-color: #333;
    --font-color: #FFF;
    --font-color-light: #999;

    @custom-media --xs (max-width: 576px);
    @custom-media --sm-up (min-width: 577px);
    @custom-media --md-up (min-width: 768px);
    @custom-media --lg-up (min-width: 992px);
    @custom-media --xl (min-width: 1200px);
}
